<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template</title>
    <script src="../../vue/dist/vue.js"></script>
</head>

<body>
    <div id="app"></div>
</body>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            message: "Hello Vue!"
        },
        render(c) {
            return c('div', {
                attrs: {
                    id: 'app'
                }
            }, [c('div', {
                attrs: {
                    id: 'child'
                }
            }, this.message)])
        }
    })
</script>

</html>